.footer {                                                         
    background: #263A38;
    color: #F4EDED;                                                 
    text-align: center;
    padding: 40px;                                                  
    display: flex;                                                  
    flex-direction: column;
    gap: 8px;                                                       
    margin-top: auto;
  }
